@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
html
{
  scroll-behavior: smooth;
}
body
{
  font-family: 'Quantico', sans-serif;
}
.navbar-brand
{
  font-weight: bold;
}
.navbar-brand:hover,.navbar a:hover
{
  color: #26f596!important;
  text-transform: capitalize!important;
  transition: 0.5s;
}
.menu_active
{
  display:block;
  padding:.5rem 1rem;
  color: black;
  border-bottom: 1px solid #26f596!important;
  font-weight: bold;
  text-decoration: none;
}
.nav-link
{
  color: black!important;
}