@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif;
}
.navbar
{
  background-color: white;
}
.navbar-toggler,.navbar-toggler-icon
{
  border: none;
}
.navbar-toggler:hover
{
  background-color: #26f596;
  transition: 0.5s;
}
.navbar-brand {
  font-weight: bold;
}
.navbar a:hover {
  color: #26f596 !important;
  text-transform: capitalize !important;
  transition: 0.5s;
}

.menu_active {
  display: block;
  padding: .5rem 1rem;
  color: #26f596;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }
  .nav-item
  {
    text-align: center;
  }
  .menu_active {
    font-weight: bold;
  }
}

/* ==========================================================================
#Main Landing Section
========================================================================== */

.nav-link {
  color: black !important;
}

strong {
  color: #26f596;
}
.btn_card {
  background-color: #26f596;
  color: white;
  border-radius: 50px;
  border: none;
  padding: .5rem 1rem;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
}

.btn_card:hover {

  background-color: white !important;
  color: #26f596 !important;
  transition: 0.5s;
  border: 1px solid #26f596 !important;
}
.card-title
{
  font-size: 1.5rem;
  font-weight: bold;
  color: #26f596;
  text-transform: uppercase;
}
#header {
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header .brand-name {
  color: #26f596;
}

#header h2 {
  color: #484848;
  font-size: 24px;
}

#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  background-color: #26f596 !important;
  border-radius: 50px !important;
  border: 2px solid #26f596 !important;
  color: white !important;
  transition: 0.5s;
  text-decoration: none;
}

#header .btn-get-started:hover {
  background-color: white !important;
  color: #26f596 !important;
  border: 1px solid #26f596 !important;
}

.header-img {
  text-align: right;
}

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* ////////Contact ////////////
 */

.contact_div {
  width: 100%;
  height: 75vh;
}

/* /// footer///////////////////// */

footer p {
  padding: 0;
  margin: 0;
}

/* responsive code */

@media (max-width: 991px) {
  #header {
    height: 80vh;
    text-align: center;
  }

  #header .header-img {
    text-align: center;
  }

  #header .header-img img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #header {
    margin-top: 20px;
  }

  #header h1 {
    font-size: 28px;
  }

  #header h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }

  #header .header-img img {
    width: 70%;
  }
}